<h2 mat-dialog-title>Modifier un élément</h2>

<mat-dialog-content class="dialog-container">
  <mat-form-field appearance="outline">
    <mat-label>Type d'élément</mat-label>
    <mat-select [(ngModel)]="selectedType">
      <mat-option *ngFor="let model of availableModels" [value]="model.type">
        {{ model.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>ID de l'élément</mat-label>
    <input matInput [(ngModel)]="selectedId" (keyup.enter)="loadElement()">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="loadElement()" [disabled]="!selectedType || !selectedId">
    Charger l'élément
  </button>

  <div *ngIf="template" class="json-editor-container">
    <app-json-editor [(data)]="template"></app-json-editor>
  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close()">Annuler</button>
  <button mat-raised-button color="primary" (click)="saveElement()" [disabled]="!template">Enregistrer</button>
</mat-dialog-actions>
