.dialog-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100%;
  }
  
  .json-editor-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  